<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="{{ site.baseurl }}/">旧文章</a></li>
          <li><a href="{{ '/about' | prepend: site.baseurl }}">关于我</a></li>
        </ul>
       </div>
    </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy;2016-2017 <!--这是自动更新年份 <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> --> 版权归{{ site.author.name }}所有.
      </span>
    </footer>

<!-- Gitment js -->

<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>

    <script>
    var gitment = new Gitment({
        owner: 'hopeverse',
        repo: 'hopeverse.github.io',
        oauth: {
            client_id: 'd67632f11639d1de55f8',
            client_secret: '8c861670bf84f8731df60e42dd8cde86196553d8',
        },
     });
    gitment.render('comment'); //container为你要显示评论的id
</script>
  </body>
</html>
