<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="{{ site.baseurl }}/">旧文章</a></li>
          <li><a href="{{ '/about' | prepend: site.baseurl }}">关于我</a></li>
        </ul>
       </div>
  </nav>
  
  <script>
  (function() {
    var cx = '014554544895838614610:kakwbqivjfw';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy;2016-2017 <!--这是自动更新年份 <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> --> 版权归{{ site.author.name }}所有.
      </span>
    </footer>
  </body>
</html>
