---
layout: default
---

<div class="post">
    <div class="post-info">
        <span>Written by</span> {% if page.author %} {{ page.author }} {% else %} {{ site.author.name }} {% endif %} {% if page.date %}
        <br>
        <span>on&nbsp;</span>
        <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
        {% endif %}
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-line"></div>
    {{ content }}

<!-- Gitment -->
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
    var gitment = new Gitment({
        id: '页面 ID', // 可选。这个选项不写（不是留空），默认为 location.href
        owner: 'hopeverse',
        repo: 'hopeverse.github.io',
        oauth: {
            client_id: 'd67632f11639d1de55f8',
            client_secret: '8c861670bf84f8731df60e42dd8cde86196553d8',
        },
     });
    gitment.render('comment'); //container为你要显示评论的id
</script>

<!-- Gitment  End-->

</div>


<div class="pagination">
    {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a> {% endif %} {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a> {% endif %}
    <a href="#" class="top">Top</a>
</div>